body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items:center;
	padding:10px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
	max-width: 350px;
	width: 100%;
	background: #fff;
	padding:25px 30px;
	border-radius:5px;
	
}

form .button{
	height: 45px;
	width: 45px;
}

form .button input {
	height: 25px;
	width: 300px;
	outline: none;
	color:#fff;
	border:none;
	
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
